body {
    font-family: 'Times New Roman', Times, serif;
    font-variant-caps: inherit;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
}
h6 {
    object-position: top left ;

}

body, h1 {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

body, h5 {
    display: block;
    margin: 8px;
}    

body, input, button {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
}

button {
  padding: 10px;
  border: none;
  background-color: #d3d3d3;
}


p {
    object-position: center bottom;
    width: auto;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.mr-20 {
  margin-right: 20px;
}

.black-link {
    color: black;
    text-decoration: none;
}

.g {
  color: #4285F4; /* This is known as a color hex */
  font-size: 100px;
}

.first-o {
  color: #DB4437;
  font-size: 100px;
}

.second-o {
  color: #F4B400;
  font-size: 100px;
}

.l {
  color: #0F9D58;
  font-size: 100px;
}

.search-box {
  height: 40px;
  width: 600px;
  border-radius: 20px;
}

